<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
 <% @product.attributes.each do |attribute| %>
   <% attribute.keys.each do |key| %>
     <%= attribute.humanize %> or <%= key %>
   <% end %>
 <% end %>
  </body>
</html>